{% extends 'converter/base.html' %}

{% block content %}
<div>
    <h1>Конвертор валют</h1>
</div>
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="amount">Введите количество:</label>
        <input type="text" name="amount" id="amount">
        <label for="from">из:</label>
        <select name="from" id="from" value="{{ from }}">
            {% for value in currencies %}
                <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
        <label for="to">в:</label>
        <select name="to" id="to" value="{{ to }}">
            {% for value in currencies %}
                <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
        <button type="submit">Конвертировать</button>
    </form>
        <p>
            {% if converted_amount %}
                <div>Результат: {{ converted_amount }}</div>
            {% endif %}
        </p>
</div>
{% endblock %}